{% if params.captcha_active %}
<div class="div-form">
    <fieldset>
        <legend>
            Captcha
        </legend>
        <div class="captcha-box">
            {{ captcha_html(captcha)|safe }} 
        </div>
    </fieldset>
</div>
{% endif %}