{% extends 'base.html' %}
{% block stylesheet %}{% endblock %}

{% block body %}
    <div id="login_form" class="">
        <form id="form_login" method="POST" action="{{ url_for(urls.LOGIN) }}">
            {{ form.csrf_token }}
            {{ form.user_ref }}
            <fieldset class="bg_purple box-shad-right">
                <div class="div-form">
                    <img id="logo" src="{{ url_for(urls.STATIC, filename=urls.LOGO) }}" alt="logo"/>
                </div>
                <div class="div-form">
                    <label class="label"><i class="fas fa-user"></i> {{ form.email.label }}</label>
                    {{ form.email(placeholder='youremail@example.com') }}
                </div>

                <div class="div-form">
                    <label class="label"><i class="fas fa-lock"></i> {{ form.password.label }}</label>
                    {{ form.password }}
                </div>
                {% include urls.TP_FORMS+'captcha.html' %}
                {% for message in get_flashed_messages() %}
                    <div class="alert reject">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="div-form">
                    {{ form.submit(class="button-rl-form") }}
                    {% if params.registration_active %}
                        <a href="{{ url_for(urls.REGISTER) }}">Inscription</a>
                    {% endif %}

                </div>
            </fieldset>
        </form>
    </div>


{% endblock %}
{% block js %}
{% endblock %}
