{% extends 'base.html' %}

{% block stylesheet %}{% endblock %}

{% block body %}

<div id="register_form" class="">
    <form id="form_login" method="POST" action="{{ url_for(urls.REGISTER) }}">
        {{ form.csrf_token }}
            {{ form.user_ref }}
        <fieldset class="bg_purple  box-shad-left">
            <div class="div-form">
                <img id="logo" src="{{ url_for(urls.STATIC, filename=urls.LOGO) }}" alt="logo" />
                
            </div>
            <div class="div-form">
                <label id="check-email-validate" class="label"><i class="fa-solid fa-at"></i> {{ form.email.label }}</label>
                {{ form.email }}
            </div>
            <div class="div-form">
                <label class="label"><i class="fas fa-user"></i> {{ form.username.label }}</label>
                {{ form.username }}
            </div>

            <div class="div-form">
                <label id="check-pwd-validate" class="label"><i class="fas fa-lock"></i> {{ form.password.label }} 
                    <span onclick="togglePasswordVisibility()" title="Afficher / Cacher le mot de passe"> <i id="eyes" class="fa-regular fa-eye"></i></span></label>
                {{ form.password }}

            </div>
            {% include urls.TP_FORMS+'captcha.html' %}
            <div class="div-form" >
                {{ form.submit( class="button-rl-form", disabled="disabled") }}
                <a href="{{ url_for(urls.LOGIN) }}" >Connexion</a>
            </div>
        </fieldset> 
    </form>
</div>


{% endblock %}
{% block js %}
<script>
    function checkUsernameValid(){
        $.ajax({
            method: 'PUT',
            url: "{{ url_for(urls.CHECK_USERNAME) }}",
            data: {
                "username": $("#username").val(),
            }
        }).done(function (data) {
            console.log(data);
        })
        .fail(function( jqXHR, textStatus, errorThrown) {
            // console.log("fail")
            console.log(jqXHR)
        })
    }

    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("password");
        var show = document.getElementById("eyes");
        
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            show.className = "fa-regular fa-eye-slash";
        } else {
            passwordInput.type = "password";
            show.className = "fa-regular fa-eye";
        }
    }
    function toggleSubmitButton() {
        var formValid = document.querySelector('form').checkValidity();
        document.querySelector('input[type="submit"]').disabled = !formValid;
    }
    var formFields = document.querySelectorAll('input, select, textarea');
    formFields.forEach(function (field) {
        field.addEventListener('change', function () {
            toggleSubmitButton();
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        toggleSubmitButton();
    });

    // Sélectionner l'élément d'entrée du mot de passe
    let inputEmail = document.getElementById('{{ form.email.id }}');
    let fa_at = document.getElementById("check-email-validate");
    let btn_form = document.getElementsByClassName("button-rl-form");
    inputEmail.addEventListener('keyup', function() {
        // Récupérer la valeur actuelle du champ de saisie du mot de passe
        let email = inputEmail.value;
        // Valider l'email
        if (validateEmail(email)) {
            fa_at.classList.remove('error');
            fa_at.classList.add('success');
        } else {
            fa_at.classList.add('error');
        }
    });


    let inputMotDePasse = document.getElementById('{{ form.password.id }}');
    let i_lock = document.getElementById("check-pwd-validate");
    // Ajouter un gestionnaire d'événements keyup au champ de saisie
    inputMotDePasse.addEventListener('keyup', function() {
        // Récupérer la valeur actuelle du champ de saisie du mot de passe
        let motDePasse = inputMotDePasse.value;
        // Valider le mot de passe
        if (validatePassword(motDePasse)) {
            i_lock.classList.remove('error');
            i_lock.classList.add('success');
        } else {
            i_lock.classList.add('error');
        }
    });

    $('form').on('submit', function(){
        let email = document.getElementById('{{ form.email.id }}').value;
        let password = document.getElementById('{{ form.password.id }}').value;

    // Valider l'email et le mot de passe
    if (!validateEmail(email)) {
        // Empêcher la soumission du formulaire
        event.preventDefault();
        // Afficher un message d'erreur pour l'email
        alert('Veuillez entrer une adresse e-mail valide.');
    }

    if (!validatePassword(password)) {
        // Empêcher la soumission du formulaire
        event.preventDefault();
        // Afficher un message d'erreur pour le mot de passe
        alert("Veuillez entrer un mot de passe valide. <br> En respectant les regles minuscule, MAJUSCULE, Nombre, caractères spéciaux (!@#$%^&*+-=;:.?");
    }
    });


</script>
{% endblock %}