
<div class="switch-box">
    <div class="switch-box-label">
        {{label}} : 
    </div>
    <div class="switch-box-switch">
        <label class="switch" for="toggle-{{id}}">
            <input type="checkbox" id="toggle-{{id}}" {{ "checked" if params.captcha_enable }} onclick="enabledToggle('{{ url }}', '#toggle-{{id}}' );">
            <span class="slider round"></span>
        </label>
    </div>
</div>