
{% extends 'base.html' %}

{% block stylesheet %}{% endblock %}

{% block body %}

<div id="login_form" class="col s12">
    <form id="form_login" method="POST" action="{{ url_for(urls.UPDATE_USER) }}">
        {{ form.csrf_token }}
        <fieldset class="bg_purple">
            <div class="div-form">
                <img id="logo" src="{{ url_for(urls.STATIC, filename=urls.LOGO) }}" alt="logo" style="width: 150px; height: auto;"/>
                
             </div>
            <div class="div-form">
                <label class="label"><i class="fas fa-user"></i> {{ form.username.label }}</label>
                {{ form.username }}
            </div>
            <div class="div-form">
                <label class="label"><i class="fas fa-at"></i> {{ form.email.label }}</label>
                {{ form.email }}
            </div>

            <div class="div-form" onclick="are_u_sure()">
                {{ form.submit(class="button-rl-form") }}
            </div>
        </fieldset> 
    </form>
</div>


{% endblock %}
{% block js %}
<script>
    function are_u_sure(){
        alert("ARREUH YOU SUUURE")
    }
</script>
{% endblock %}