
{% extends 'base.html' %}
{% block stylesheet %}{% endblock %}

{% block body %}

<div id="login_form" class="col s12">
    <form id="form_login" method="POST" action="{{ url_for(urls.UPDATE_PASSWORD) }}">
        {{ form.csrf_token }}
        <fieldset class="bg_purple">
            <div class="div-form">
                <img id="logo" src="{{ url_for(urls.STATIC, filename=urls.LOGO) }}" alt="logo" style="width: 150px; height: auto;"/>
             </div>
            <div class="div-form">
                <label class="label"><i class="fas fa-lock"></i> {{ form.old_password.label }}</label>
                {{ form.old_password }}
            </div>
            <div class="div-form">
                <label class="label"><i class="fas fa-lock"></i> {{ form.new_password.label }}</label>
                {{ form.new_password }}
            </div>
            <div class="div-form">
                <label class="label"><i class="fas fa-lock"></i> {{ form.confirm_password.label }}</label>
                {{ form.confirm_password }}
            </div>

            <div class="div-form" >
                {{ form.submit(class="button-rl-form") }}
            </div>
        </fieldset> 
    </form>
</div>


{% endblock %}
{% block js %}

{% endblock %}