@charset "UTF-8";
/*
Theme name SuperPotatoes
Ookamy@copyright
*/

:root {
    --default--color: black;
    --default-bg-color: white;
    --defaut-txt-color: #f0ffff;
    --light-text: #f0ffff;
    --dark-bg: rgb(51, 48, 49);
    --dark-text: rgb(43, 41, 41);
    --ooka-red-light: #d40000;
    --ooka-red-dark: #800000;
    --box-shadow-01: rgba(0, 0, 0, 0.1);
    --box-shadow-0987: rgba(0, 0, 0, 0.987);

    /* alert flash */
    --Information-p: #3498db;
    --Information-c: #5eb7e0;
    --Information-f: #2b88c1;
    --Information-c-04: rgba(94, 183, 224, 0.4);
    --Information-c-03: rgba(94, 183, 224, 0.3);
    --Information-c-02: rgba(94, 183, 224, 0.2);
    --Information-c-01: rgba(94, 183, 224, 0.1);
    --Information-c-005: rgba(94, 183, 224, 0.05);

    --Success-p: #2ecc71;
    --Success-c: #48d386;
    --Success-f: #29b765;
    --Success-c-04: rgba(72, 211, 134, 0.4);
    --Success-c-03: rgba(72, 211, 134, 0.3);
    --Success-c-02: rgba(72, 211, 134, 0.2);
    --Success-c-01: rgba(72, 211, 134, 0.1);
    --Success-c-005: rgba(72, 211, 134, 0.05);
    
    --Warning-p: #e67e22;
    --Warning-c: #ee9447;
    --Warning-f: #d1691b;
    --Warning-c-04: rgba(238, 149, 71, 0.4);
    --Warning-c-03: rgba(238, 149, 71, 0.3);
    --Warning-c-02: rgba(238, 149, 71, 0.2);
    --Warning-c-01: rgba(238, 149, 71, 0.1);
    --Warning-c-005: rgba(238, 149, 71, 0.05);

    --Error-p: #d40000;
    --Error-c: #ea4747;
    --Error-f: #ba0000;
    --Error-c-04: rgba(212, 0, 0, 0.4);
    --Error-c-03: rgba(212, 0, 0, 0.3);
    --Error-c-02: rgba(212, 0, 0, 0.2);
    --Error-c-01: rgba(212, 0, 0, 0.1);
    --Error-c-005: rgba(212, 0, 0, 0.05);
    
    /* dashboard colors */
    --text-sidebar: #ffffff;
    --section-nav-txt: rgb(43, 41, 41);
    --section-nav-bg: #ffffff;
    --section-content-light-txt: #ffffff;
    --section-content-light-bg: #f5f5f5;

    --section-content-dark-text: #f5f5f5;
    --section-content-dark-bg: #170238;

    --section-content-grad00: linear-gradient(180deg, rgb(103, 58, 183) 0%, rgba(53, 3, 128) 40%, rgba(23, 2, 56) 80%);
    --section-content-grad01: linear-gradient(90deg, rgba(103, 3, 128, 1) 20%, rgba(23, 2, 56, 0.5) 100%);

    --section-nav-dark-bg: #25044d;

    --home-content-right-title: rgb(170, 1, 212);
    --home-content-left-title: rgba(103, 3, 128, 1);


    --box-bg: #25044d;
    --box-txt: rgb(254, 254, 254);


    /* opacity  */
    /* white */
    --opacity-white-80: rgba(255, 255, 255, 0.8);
    --opacity-white-50: rgba(255, 255, 255, 0.5);
    --opacity-white-30: rgba(255, 255, 255, 0.3);
    /* black */
    --opacity-black-80: rgba(0, 0, 0, 0.8);
    --opacity-black-50: rgba(0, 0, 0, 0.5);
    --opacity-black-30: rgba(0, 0, 0, 0.3);

    /* login form */
    --purple_bg_50: rgba(92, 0, 145, 0.5);
    --deep_purple: rgb(103, 58, 183);
    --bubble_color: rgb(215, 1, 227);
    --bubble_color_shad_0-4: rgba(215, 1, 227, 0.4);
    --bubble_color_shad_0-3: rgba(215, 1, 227, 0.3);
    --bubble_color_shad_0-2: rgba(215, 1, 227, 0.2);
    --bubble_color_shad_0-1: rgba(215, 1, 227, 0.1);
    --bubble_color_shad_0-0-5: rgba(215, 1, 227, 0.05);
    --blue_bg: #11044D;

    --rainbow-grad: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);

    --grad01: linear-gradient(to right top, rgba(23, 2, 56, 0.5), rgba(22, 5, 58, 0.5), rgba(25, 7, 69, 0.5), rgba(30, 6, 79, 0.5), rgba(35, 5, 90, 0.5), rgba(41, 5, 102, 0.5), rgba(47, 4, 115, 0.5), rgba(54, 3, 128, 0.5), rgba(63, 5, 146, 0.5), rgba(72, 8, 164, 0.5), rgba(81, 12, 182, 0.5), rgba(90, 16, 201, 0.5));

    --grad02: linear-gradient(to left bottom, #170238, #16053a, #190745, #1e064f, #23055a, #290566, #2f0473, #360380, #3f0592, #4808a4, #510cb6, #5a10c9);

    --grad03: linear-gradient(to right top, #170238, #16053a, #190745, #1e064f, #23055a, #290566, #2f0473, #360380, #3f0592, #4808a4, #510cb6, #5a10c9);


}