@charset "UTF-8";
@import url("colors.css");

:root {
    --card_bg: rgba(56, 3, 56, 0.5);
}


#logo-box {
    text-align: center;
}


.card {
    margin: 10px;
    padding: 15px;
    /* width: 200px; */
    border-radius: 15px;
    background-color: var(--card_bg);
}

.limit-200{
    width: 200px;
}

.with-border {
    border: 1px solid var(--bubble_color_shad_0-2);
    box-shadow: var(--bubble_color_shad_0-2) 5px 5px,
        var(--bubble_color_shad_0-1) 10px 10px;
}

.card ul{
    padding-left: 20px;
}

.card a:hover{
    font-weight: normal;
}