@charset "UTF-8";
@import url("colors.css");

/* Login & register css */
#login_form,
#register_form {
    width: 400px;
    margin: 50px auto;
    height: 100%;
    vertical-align: middle;
}


/* honeypot*/
.copperfield {
    position: absolute !important;
    left: -9999px !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
}

@media  (max-width: 450px){
#login_form,
#register_form {
    max-width: 95%;
    margin: 10px auto;
}
}

#logo {
    align-self: center;
    width: 150px;
    height: auto;
    filter: drop-shadow(0 0 0.75rem var(--bubble_color_shad_0-4));
}

.div-form {
    margin: 10px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    align-self: center;
}

.div-form input {
    background: white;
    border: 1px solid var(--bubble_color_shad_0-1);
    background: var(--default-bg-color);
    outline: none;
    /* Supprime l'outline par défaut du navigateur */
}

.div-form input:focus {
    border: 2px solid var(--bubble_color_shad_0-4);
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container .fa {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
}

.input-container input {
    padding-left: 30px;
    width: 100%;
}

.div-form a {
    margin-top: 5px;
    /* border: 2px solid yellowgreen; */
    font-size: smaller;
    text-align: center;
    color: var(--light-text);
}

.div-form a:hover {
    color: var(--bubble_color);
    font-weight: bolder;
    transition: .2s;
}

.toggle-password {
    cursor: pointer;
    user-select: none;
}

.label {
    text-align: center;
    padding-bottom: 5px;
}