@charset "UTF-8";
@import url("colors.css");

/* admin/users.html */
.role {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.super-administrator {
  color: red;
}

.administrator {
  color: rgb(238, 0, 238);
}

.moderator {
  color: rgb(5, 178, 5);
}

.visitor {
  color: rgb(148, 223, 255);
}

.anonymous {
  color: white;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  /* background-color: var(--box-bg); */
  margin: 15% auto;
  /* 15% from the top and centered */
  color: var(--box-txt);
  /* padding: 20px; */
  border: 1px solid var(--bubble_color_shad_0-4) !important;
  /* ; */
  width: 500px;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: var(--bubble_color);
  float: right;
  margin-right: 20px;
  font-size: 28px;
  font-weight: bold;

}

.close:hover,
.close:focus {
  color: var(--deep_purple);
  text-decoration: none;
  cursor: pointer;
}


form#update_role {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  padding: auto;
}

form#update_role div {
  margin: 10px;
}

/* form#update_role select {} */
form#update_role select option:hover,
form#update_role select option:focus {
  background-color: var(--bubble_color) !important;
  color: var(--light-text) !important;
}

form#update_role button {
  margin: 10px;
}