@charset "UTF-8";
@import url("colors.css");


/* Dashboard */
/* Sidebar */
.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  background: var(--bubble_color_shad_0-1);
  transition: all 0.5s ease;
  color: var(--text-sidebar);
}

.sidebar #logo {
  align-self: center;
  height: 60px;
  padding: 2px;
  filter: drop-shadow(0 0 0.75rem var(--bubble_color));
}

.sidebar .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
}

.sidebar .logo-details .logo-name {
  font-size: 24px;
  font-weight: 500;
}

.sidebar .nav-tabs {
  margin-top: 10px;
  padding: 0;
  width: 100%;
}

.sidebar .nav-tabs li {
  position: relative;
  list-style: none;
  height: 50px;
}

.sidebar .nav-tabs li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.sidebar .nav-tabs li a.active {
  text-decoration: none;
  background: var(--bubble_color);
}

.sidebar .nav-tabs li a:hover {
  background: var(--bubble_color_shad_0-4);
}

.sidebar .nav-tabs li i {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: var(--text-sidebar);
}

.sidebar .nav-tabs li a {
  text-decoration: none;
}

.sidebar .nav-tabs li a .tabs-name {
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}

.sidebar .logout {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* section */
.home-section {
  position: relative;
  background: var(--section-content-grad01);
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}

.sidebar.active~.home-section {
  left: 60px;
  width: calc(100% - 60px);
}

.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background: var(--section-nav-dark-bg);
  color: var(--section-content-dark-text);
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 80;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}

.home-section nav .profile-details {
  display: flex;
  align-items: center;
  /* background: var(--section-nav-dark-bg-1); */
  background: var(--section-content-grad01);
  border: 1px solid var(--bubble_color);
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}

nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
  white-space: nowrap;
}

nav .profile-details i {
  font-size: 25px;
  margin: 0 10px;
}

/* section content */
section.home-section .home-content {
  position: relative;
  padding-top: 70px;
  width: 100%;
}

/* content left - right */
.home-content {
  display: flex;
  flex-direction: row;
}

.home-content .home-content-right {
  flex: 1;
  /* border: #13e139 solid 1px; */

}

.home-content .home-content-left {
  flex: 3;
  /* border: #ff006f solid 1px; */
}

.home-content-right .title {
  color: var(--home-content-right-title);
  font-weight: bolder;
  text-decoration: underline;
}

.home-content-left .title {
  color: var(--home-content-left-title);
  font-weight: bolder;
  text-decoration: underline;
}

.box-format {
  color: var(--section-content-dark-text);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  background: var(--box-bg);
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px var(--bubble_color_shad_0-3);

}

.box-format .items {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.item-title {
  flex: 3;
}

.item-switch {
  flex: 1;
}

/* big-box */
.home-content .big-boxes {
  width: 95%;
  background: var(--box-bg);
  padding: 20px 30px;
  margin: 10px;
  border-radius: 12px;
  box-shadow: 0 5px 10px var(--bubble_color_shad_0-3)
}

.data-box {
  color: var(--box-txt);
}

/* stats box */
.home-content .overview-boxes {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.overview-boxes .box {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}



/* left box */
.home-content .sales-boxes .recent-sales {
  width: 65%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.home-content .sales-boxes .sales-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sales-boxes .box .title {
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}

.sales-boxes .sales-details li.topic {
  font-size: 20px;
  font-weight: 500;
}

.sales-boxes .sales-details li {
  list-style: none;
  margin: 8px 0;
}

.sales-boxes .sales-details li a {
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}

.sales-boxes .box .button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sales-boxes .box .button a {
  color: #fff;
  background: #0A2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sales-boxes .box .button a:hover {
  background: #0d3073;
}





/* db responsive a check un fois le css fini*/
@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active~.home-section {
    left: 220px;
    width: calc(100% - 220px);
    overflow: hidden;
  }

  .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active~.home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}

@media (max-width: 1150px) {
  .home-content .sales-boxes {
    flex-direction: column;
  }

  .home-content .sales-boxes .box {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }

  .home-content .sales-boxes .top-sales {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}

@media (max-width: 700px) {

  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i {
    display: none;
  }

  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }

  .home-content .sales-boxes .sales-details {
    width: 560px;
  }
}

@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }

  .sidebar.active~.home-section nav .profile-details {
    display: none;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 0;
  }

  .sidebar.active {
    width: 60px;
  }

  .home-section {
    width: 100%;
    left: 0;
  }

  .sidebar.active~.home-section {
    left: 60px;
    width: calc(100% - 60px);
  }

  .home-section nav {
    width: 100%;
    left: 0;
  }

  .sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
  }
}