/* Template : Authenticator-Administrator-Project 
 * Author : Ookamy
 */

@charset "UTF-8";
@import url("colors.css");
/* dir /admin/ */
@import url("custom_admin.css");
/* dir /forms/ */
@import url("custom_forms.css");
/* dir /user/ */
@import url("custom_user.css");
@import url("aside.css");
@import url("flash.css");
@import url("captcha.css");
@import url("buttons.css");
@import url("switch.css");

/* @import url("sidebar_nav.css"); */

/* 
* {
  margin:0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Roboto", sans-serif;
} */

body,
html {
  background-color: var(--default-bg-color);
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  color: var(--defaut-txt-color);
  font: 1rem;
  /* align-items: center;
  justify-content: center; */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Roboto", sans-serif;
}


nav {
  box-sizing: border-box;
}

main {
  display: flex;
  /*height: 100vh;*/
  box-sizing: border-box;
}

section {
  width: auto;
  flex-grow: 1;
  background: var(--section-content-grad01);
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
  /* border: 1px solid rgb(112, 133, 210); */

}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

aside {
  width: 220px;
  height: initial;
  flex-grow: 0;
  background: var(--bubble_color_shad_0-1);
  transition: all 0.5s ease;
  /* border: 1px solid greenyellow; */
}

aside img#logo{
  align-self: center;
  height: 80px;
  padding: 2px;
  filter: drop-shadow(0 0 0.75rem var(--bubble_color));
}
aside span.logo-name{
  height: 80px;
  font-size: 20px;
  align-self: center;
  padding: 2px;
}

aside ul {
  padding: 0;
  margin: 5px;
}

aside ul.logout {
  position: absolute;
  bottom: 0;
}

aside ul li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}

aside ul li a.hover{
  background: var(--bubble_color_shad_0-4);
}
aside ul li a.active{
  text-decoration: none;
  background: var(--bubble_color);
}
aside ul li {
  margin: 5px 0;
  height: 40px;
}

aside ul li i{
  min-width: 60px;
  width: 30px;
  text-align: center;
  font-size: 18px;
  color: var(--text-sidebar);
}

aside ul li span{
  width: 30px;

}

ul {
  list-style: none;
}

.txt-center {
  text-align: center !important;
}

.txt-left {
  text-align: left !important;
}

.txt-right {
  text-align: right !important;
}


.box-shad-00 {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box-shad-01 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-shad-02 {
  /* bottom shadow dark pink */
  box-shadow: rgb(61, 38, 77) 0px 20px 30px -10px;
}

.box-shad-03 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-shad-04 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.box-shad-05 {
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.box-shad-img {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0p x 0px 0px 1px;
}

/* Url Link */
a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: inherit;
}

/* visited link */
a:visited {
  color: inherit;
}

/* mouse over link */
a:hover {
  color: var(--bubble_color);
  font-weight: bold;
  /* transition: .2s; */
}


.box-shad-left {
  box-shadow: var(--bubble_color_shad_0-4) -5px 5px, var(--bubble_color_shad_0-3) -10px 10px, var(--bubble_color_shad_0-2) -15px 15px, var(--bubble_color_shad_0-1) -20px 20px, var(--bubble_color_shad_0-0-5) -25px 25px;
}

.box-shad-bottom {
  box-shadow: var(--bubble_color_shad_0-4) 0px 5px, var(--bubble_color_shad_0-3) 0px 10px, var(--bubble_color_shad_0-2) 0px 15px, var(--bubble_color_shad_0-1) 0px 20px, var(--bubble_color_shad_0-0-5) 0px 25px;
}

.box-shad-right {
  box-shadow: var(--bubble_color_shad_0-4) 5px 5px, var(--bubble_color_shad_0-3) 10px 10px, var(--bubble_color_shad_0-2) 15px 15px, var(--bubble_color_shad_0-1) 20px 20px, var(--bubble_color_shad_0-0-5) 25px 25px;
}

.bg_purple {
  background: var(--grad03) !important;
  border: 2px solid var(--bubble_color);
  border-radius: 10px;
}

/* Alerte */
.flash {
  display: block;
  position: fixed;
  z-index: 99;
  top: 25px;
  right: 25px;
  width: 300px;
  padding: 20px;
  font-size: 16px;
  font-weight: bolder;
  border: 1px solid var(--bubble_color);
  border-radius: 20px;
  box-shadow: var(--bubble_color_shad_0-4) 5px 5px, var(--bubble_color_shad_0-3) 10px 10px, var(--bubble_color_shad_0-2) 15px 15px, var(--bubble_color_shad_0-1) 20px 20px, var(--bubble_color_shad_0-0-5) 25px 25px;
  opacity: 0;
}

.alert {
  font-weight: bolder;
  text-align: center;
}

/* Couleurs */
.info {
  color: var(--Information-p) !important;
}

.validate,
.success {
  color: var(--Success-p) !important;
}

.warning {
  color: var(--Warning-p) !important;
}

.reject,
.error {
  color: var(--Error-p) !important;
}