@charset "UTF-8";
@import url("colors.css");

:root {
    /* Couleur de fond lorsque non coché */
    --switch-bg-false: #ccc;
    /* Couleur de fond lorsque coché */
    --switch-bg-true: #66bb6a;
    --switch-bg-button: white;
}


.switch-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    align-items: stretch;
    align-content: stretch;
}

.switch-box-label {
    /* border: 1px solid yellowgreen; */
    align-self: center;
}

.switch-box-switch {
    /* border: 1px solid cadetblue; */
    align-self: center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--switch-bg-false);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color:var(--switch-bg-button);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color:  var(--switch-bg-true);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--switch-bg-true);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}