<!DOCTYPE html>
<html>
<head>
    <title>Non autorisé</title>
</head>
<body>
    <h1>401 - Non autorisé</h1>
    <p>Désolé, vous n'êtes pas autorisé à accéder à cette page.</p>
    <p>Le serveur n'a pas pu vérifier que vous êtes autorisé à accéder à l'URL demandée.</p>
    <p>Soit :
        <ul>
            <li>vous avez fourni des informations d'identification erronées (par exemple un mauvais mot de passe)</li>
            <li>votre navigateur ne sait pas comment fournir les informations d'identification requises</li>
            <li>votre compte utilisateur est desactivé ou pas encore actif</li>
        </ul>
        Contacter l'administrateur du site : <a href="mailto:{{admin_email}} ">{{admin_email}}</a> .
    </p>
</body>
</html>
