@charset "UTF-8";
@import url("flash.css");
/*
Theme name SuperPotatoes
Ookamy@copyright
*/
:root {
    --bg-color : #333031;
    --txt-color: #f0ffff;
    
}
body, html {
    background-color:var(--bg-colog);
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    font-family: Arial, "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    margin: 10px auto;
    color: var(--txt-color);
    font: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vh;
    /* height: 100vh; */
}

div#index {
    display: flex;
    flex-direction: column;
    margin:auto;
    padding: 20px;
}
