<aside>
    <div id="logo-box" class="">
        <img id="logo" src="{{ url_for(urls.STATIC, filename=urls.LOGO) }}"/>
    </div>
    <ul class="">
        {% if current_user.min_role_required(3) %}
        <li>
            <a class="{% if 'dashboard' in request.path%}active{% endif %}" href="{{ url_for(urls.ADMIN_DB)}}">
                <i class="fa-solid fa-gear"></i>
                <span class="tabs-name">Configuration</span>
            </a>
        </li>
        {% endif %}
        {% if current_user.has_role(4) %}
        <li>
            <a class="{% if 'security' in request.path%}active{% endif %}" href="{{ url_for(urls.ADMIN_SECURITY)}}">
                <i class="fa-solid fa-building-lock"></i>
                <span class="tabs-name">Secu</span>
            </a>
        </li>
        <li>
            <a class="{% if 'users' in request.path%}active{% endif %}" href="{{ url_for(urls.ADMIN_USERS)}}">
                <i class="fa-solid fa-users"></i> 
                <span class="tabs-name">Utilisateurs</span>
            </a>
        </li>
        {% endif %}
    </ul>
    <ul class="logout">
        <li>
            <a href="{{ url_for(urls.USER_LOGGED, username=current_user) }}">
                <i class="fa-regular fa-user"></i>
                <span class="tabs-name">Profil</span>
            </a>
        </li>
        <li>
            <a href="{{ url_for(urls.LOGOUT) }}">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span class="tabs-name">Sign-Out</span>
            </a>
        </li>
    </ul>
</aside>

