<article class="card limit-200 ">

    {% with label="Captcha", id="Captcha", url=url_for(urls.ADMIN_CAPTCHA) %}
        {% include urls.TP_FORMS+'switch.html' %}
    {% endwith %}
    {% with label="Honeypot", id="honeypot", url=url_for(urls.ADMIN_HONEYPOT)  %}
        {% include urls.TP_FORMS+'switch.html' %}
    {% endwith %}

    {% with label="Inscription", id="registration", url=url_for(urls.ADMIN_REGISTRATION)  %}
        {% include urls.TP_FORMS+'switch.html' %}
    {% endwith %}

</article>
{% block js %}
<script>

$(document).ready( function () {
    ToggleView("{{params.captcha_enable}}","True","toggle-Captcha" );
    ToggleView("{{params.honeypot_enable}}","True","toggle-honeypot" );
    ToggleView("{{params.registration_enable}}","True","toggle-registration" );
});

function enabledToggle(url, switchId){
    $.ajax({
        method: 'PUT',
        url: `${url}`,
        data: {
            "value": $(`${switchId}`).val(),
        }
    }).done(function (data) {
        console.log(data);
    })
    .fail(function( jqXHR, textStatus, errorThrown) {
        console.log(jqXHR)
    })
;}

</script>
{% endblock %}