<article class="card">
    <table id="users_dtt">
        <thead>
            <tr>
                <th class="">Nom / Alias</th>
                <th class="">Email</th>
                <th class="">inscription</th>
                <th class="">dernière connexion</th>
                <th class="">Rôle</th>
                <th class="status">Actif</th>
                {% if current_user.has_role(4) %}
                <th class=""></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.formatted_date_created}}</td>
                <td>{{user.formatted_last_login}}</td>
                <td class="role {{user.role_name}} ">
                    <span>{{user.role_name}}</span>
                    {% if user.id != current_user.id %}
                    <span class="{{user.role_name}}" onclick="modalRole('{{user.id}}', '{{user.role}}','{{user.username}}')"> 
                        <i class="fa-brands fa-critical-role"></i>
                    </span>
                    {% endif %}
                </td>
                <td class="status">
                    {% if user.id != current_user.id %}
                    <div id="status-{{user.id}}" data-jsactive="{{user.is_js_active}}" onclick="activate_deactivate('{{user.id}}');">
                        {% if user.is_active %}
                            <span class="validate">
                                <i class="fa-solid fa-check"></i>
                            </span>
                        {% else %}
                            <span class="reject">
                                <i class="fa-solid fa-xmark"></i>
                            </span> 
                        {% endif %}
                    </div>
                    {% endif %}
                </td>
                {% if current_user.has_role(4) %}
                <td>
                    {% if user.id != current_user.id %}
                    <i class="fa-regular fa-trash-can error" onclick="byebye('{{user.id}}')"></i>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</article>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content bg_purple ">
    <span class="close">&times;</span>
    <form id="update_role">
        <input id="modalRole-userID" type="hidden" name="user_id">
        <div>Changer le role de : <span id="modalRole-userName"></span></div>
        <div>
            <select name="user_role" id="user_role">
               <option value="0">Anonyme</option>
               <option value="1">Utilisateur</option>
               <option value="2">Moderateur</option>
               <option value="3">Administrateur</option>
               <option value="4">Super Administrateur</option>
            </select>
        </div>
        <div>
            <button class="button-rl-form" onclick="user_change_role()">Changer le Rôle</button>
        </div>
    </form>
  </div>

</div>

{% block js %}
<script>

    $(document).ready( function () {

        $('#users_dtt').DataTable({
        "dom": "fti",
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.13.7/i18n/fr-FR.json",
        },
        "fixedHeader": true,
        "fixedColumns": true,
        "scrollY": "100%",
        "responsive": true,
        "columnDefs": [
                {
                    targets: 4,
                    className: 'dt-head-center'
                },
                {
                    targets: 5,
                    className: 'dt-body-center dt-head-center'
                }
            ]
        });

        $('#update_role').submit(function(event) {
            // Empêcher le comportement par défaut de soumission du formulaire
            event.preventDefault();
        });
    });

    // Récupérer les éléments de la page
    let modal = document.getElementById('myModal');
    let span = document.getElementsByClassName("close")[0];

    span.onclick = function() {
        modal.style.display = "none";
    };
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    };
    let uid = $('#modalRole-userID');
    let uname = $('#modalRole-userName');
    let select = $('#user_role');

    function modalRole(u_id, role_id,u_name){
    
        uid.val(u_id);
        uname.html(u_name);
        select.val(role_id);
        modal.style.display = "block";
    };


    function activate_deactivate(u_id){
        let status_box = $("#status-"+u_id)
        let status = status_box.data("jsactive");
        $.ajax({
        method: 'PUT',
        url: "{{ url_for(urls.ACTIVATE_USER) }}",
        data: {
                "userid":u_id
            }
        })
        .done(function (data) {
                console.log(data);
                if (status){
                    status_box.html(
                        '<span class="reject"> <i class="fa-solid fa-xmark"><i></span>'
                    );
                    status_box.data("jsactive", 0);
                } else {
                    status_box.html(
                        '<span class="validate"><i class="fa-solid  fa-check"></i> </span>'
                    );
                    status_box.data("jsactive",1);
                }
            })
        .fail(function( jqXHR, textStatus, errorThrown) {
            console.log("fail")
            console.log(jqXHR)
        })

    };

    function byebye(id){
        // Affiche une boîte de dialogue de confirmation
        if (confirm("Êtes-vous sûr de vouloir effectuer cette action ?")) {
            // Si l'utilisateur clique sur OK
            $.ajax({
                method: 'POST',
                url: "{{ url_for(urls.DELETE_USER) }}",
                data: {
                    "aleatoire_number":id,
                    }
            })
            .done(function (data) {
                // console.log(data)
                alert(data['message']);
                window.location.reload();
            })
            .fail(function( jqXHR, textStatus, errorThrown) {
                alert("Une erreur s'est produite");
            })
        // Effectue une requête AJAX
        } else {
            // Si l'utilisateur clique sur Annuler, ne fait rien
            alert("Action annulée.");
        }
    };

    function user_change_role(){
        let userId = $('#modalRole-userID').val();
        let userRole = $('#user_role').val();
        $.ajax({
        method: 'PUT',
        url: "{{ url_for(urls.ROLE_USER) }}",
        data: {
            "userId":userId,
            "userRole":userRole,
            }
        })
        .done(function (data) {
            console.log(data)
            modal.style.display = "none";
            window.location.reload();
        })
        .fail(function( jqXHR, textStatus, errorThrown) {
            console.log("fail")
            console.log(jqXHR)
        })
    };
</script>
{% endblock %}