<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="App Flask Admin Auth Project">
    {% include 'base-components/stylesheet.html' %}
    {% include 'base-components/script.html' %}
    <title>{{urls.APP_NAME}} {{title}}</title>
    {% block stylesheet %}{% endblock %}
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="animate--drop-in-fade-out flash flash-alert alert-{{ category }}" onload="flashAlert()">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block header %}{% endblock %}
    <main>
        {% block aside %}{% endblock %}
        {% block body %}{% endblock %}
    </main>

    {% block js %}{% endblock %}
</body>

</html>