<script src="{{ url_for( urls.STATIC, filename='js/vendor/jquery.js') }}"></script>
<script src="{{ url_for( urls.STATIC, filename='js/vendor/what-input.js') }}"></script>
<script src="{{ url_for( urls.STATIC, filename=urls.JS) }}"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>