<div class="flex-row " style="justify-content: space-between;flex-wrap: nowrap;">
    <article class="card with-border">
        <span>
            Information sur le compte
        </span>
        <ul>
            <li>{{current_user.username}}</li>
            <li>{{current_user.email}}</li>
            <li>{{current_user.role_name}}</li>
            <li>{{current_user.formatted_last_login}}</li>
            <li>{{current_user.formatted_date_created}}</li>
        </ul>
    </article>
    
    <article class="card with-border flex-col">
        <span class="warning">
            Actions possibles (<i class="fa-solid fa-triangle-exclamation"></i>THEY WORK):
        </span>
        <ul>
            <li>
                <a href="{{ url_for(urls.UPDATE_USER) }}" target="" rel="noopener noreferrer"><i class="fa-solid fa-wrench"></i> Mettre a jour le nom utilisateur et l'email</a>
            </li>
            <li>
                <a href="{{ url_for(urls.UPDATE_PASSWORD) }}" target="" rel="noopener noreferrer"><i class="fa-solid fa-wrench"></i> Mettre à jours le mots de passe</a>
            </li>
            <li class="error" onclick="are_u_sure()">
                <i class="fa-solid fa-triangle-exclamation"></i> Supprimer le Compte
            </li>
        </ul>
    </article>
</div>


{% block js %}
<script>
    function are_u_sure(){
        if (confirm("Es-tu sur de vouloir delete ton compte ?\n (Celui-ci sera supprimer complètement, il sera impossible de récupéré les informations) ") == true){
            $.ajax({
                method: 'POST',
                url: "{{ url_for(urls.DELETE_USER) }}",
                data: {
                    "aleatoire_number":"{{current_user.id}}",
                    }
            })
            .done(function (data) {
                alert(data['message']);
                window.location.replace("{{ url_for(urls.HOME) }}");
            })
            .fail(function( jqXHR, textStatus, errorThrown) {
                alert("Une erreur s'est produite");
            })
        } else {
            alert("Ton compte est toujours present");
        }
    }
</script>
{% endblock %}