<aside>
    <div id="logo-box" class="">
        <span class="logo-name">{{current_user}}</span>
    </div>

    <ul class="">
        <li>
            <a class="{% if 'profil' in request.path%}active{% endif %}"
                href="{{ url_for(urls.USER_LOGGED, username=current_user) }}">
                <i class="fa-regular fa-user"></i>
                <span class="tabs-name">Profil</span>
            </a>
        </li>
        <li>
            <a class="{% if 'gestion' in request.path%}active{% endif %}"
                href="{{ url_for(urls.USER_ACCOUNT, username=current_user) }}">
                <i class="fa-solid fa-user-lock"></i>
                <span class="tabs-name">Gestion du Compte</span>
            </a>
        </li>
        
        
    </ul>
    <ul class="logout">
        {% if current_user.min_role_required(3) %}
        <li>
            <a class="{% if 'dashboard' in request.path%}active{% endif %}" href="{{ url_for(urls.ADMIN_DB)}}">
                <i class="fa-solid fa-gear"></i>
                <span class="tabs-name">Configuration</span>
            </a>
        </li>
        {% endif %}
        <li>
            <a href="{{ url_for(urls.USER_LOGGED, username=current_user) }}">
                <i class="fa-regular fa-user"></i>
                <span class="tabs-name">Profil</span>
            </a>
        </li>
        <li>
            <a href="{{ url_for(urls.LOGOUT) }}">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span class="tabs-name">Sign-Out</span>
            </a>
        </li>
    </ul>
</aside>