{% extends 'base.html' %}

{% block title %}

{% endblock %}
{% block body %}
{% include urls.TP_USER+'aside.html' %}
<section>
    {% if 'gestion' in request.path%}
            {% include urls.TP_USER+'account.html' %}
    {% else %}
        <article class="card">
            <div class="">
                =D
            </div>
        </article>
        
    {% endif %}
</section>
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}