<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Project</title>
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename=urls.FAVICO) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="animate--drop-in-fade-out flash flash-alert alert-{{ category }}" onload="flashAlert()">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div id="index">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for(urls.USER_LOGGED, username=current_user) }}" target="" rel="noopener noreferrer">Profil</a>
        <a href="{{ url_for(urls.LOGOUT) }}" target="" rel="noopener noreferrer">Sign-Out</a>
        {% else %}
        <a href="{{ url_for(urls.LOGIN) }}" target="" rel="noopener noreferrer">Sign-In</a>
        <a href="{{ url_for(urls.REGISTER) }}" target="" rel="noopener noreferrer">Sign-Up</a>
        {% endif %}

        <h1>^_^</h1>
        <p>
            Bienvenue sur votre application Flask ! <br>
            Les modules Admin et Authentication sont disponible.
        </p>
        <p>HAVE FUN</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <script></script>
    
</body>
</html>